.Header {
  flex: 1;
  display: flex;
  text-align: center;
  justify-items: center;
  margin-top: 30px;
  padding-bottom: 30px;
  box-shadow: 0 20px 20px -20px rgb(115, 115, 115);
}

.Header .main {
  flex: 1;
  font-size: 20px;
  font-weight: 1000;
}

.Header .nav {
  flex: 2;
  flex-direction: row;
  height: 100%;
}

.Header .menu {
  flex: 1;
}

.Header .nav .HeaderButtonOff {
  flex: 1;
  width: 20%;
  height: 100%;
  border: 0;
  background-color: white;
  color: rgb(140, 140, 140);
  font-size: 14px;
}
.Header .nav .HeaderButtonOn {
  flex: 1;
  width: 20%;
  height: 100%;
  border: 0;
  background-color: white;
  color: rgb(132, 132, 132);
  font-size: 16px;
}
